{% extends "master.html" %}

{% block title %}
  My scenes
{% endblock %}


{% block content %}
<div class="main">
  <h1 style="margin: 80px;">安全攸关场景库</h1>
  <div class="mycard" style="display: inline-block; width:70%; color: #fff;">
    <p><a href="scenes/" style="color: #fff;">查看所有的场景</a>
    </p>
  </div>
  <div class="mycard" style="display: inline-block; width: 70%; color: #fff;height: 50%;">
    <p><a href="reports/" style="color: #fff;">查看所有的测试用例</a>
    </p>
  </div>
</div>

{% endblock %}