{% extends "master.html" %}

{% block title %}
  My scenes - List of all members
{% endblock %}
{% block content %}
<div class="mycard">
  <h1>{{ mymember.name }}</h1>
    
  <p>模型： <a href="/scenes/details/{{ mymember.scenename_id }}">{{mymember.scenename}}</a></p>
  <p>场景描述： {{ mymember.data }}</p>
  <p>测试场景：<br><img src="{{ mymember.image.url }}" width=640 height=400></img></p>
  <p><a href="{{ mymember.file.url }}" download="scenicfile">点击下载测试用例</a></p>
  <p>返回<a href="/reports">测试数据主页</a></p>
</div>
{% endblock %}